@import './variables.scss';
@import './mixins.scss';

@import './headers.scss';
@import './books.scss';
@import './breadcrumb.scss';
@import './image-grid.scss';
@import './info-grid.scss';
@import './review.scss';
@import './purchased.scss';
@import './site-map.scss';

body {
    margin: 0;
    font-family: Open Sans;
}

vr {
    grid-column-start: 2;
    grid-column-end: 2;

    border-right: 1px solid grey;
    height: $medium-size;
    width: 0;
    margin-top: 7px;
}

.main-matter {
    max-width: $max-width - $medium-size * 3;

    @include smallScreen() {
        max-width: 650px;
    }

    margin-left: auto;
    margin-right: auto;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
    overflow: hidden;

    img {
        width: 100vw;
        margin-top: -300px;
        @include smallScreen() {
            display: none;
        }
    }

    .no-offset {
        margin-top: 0;
    }
}

video {
    width: 100vw;
    margin-top: -300px;
}

.footer {
    padding-top: $xlarge-size;
    padding-bottom: $large-size;

    padding-left: $medium-size;
    padding-right: $medium-size;

    .footer-text {
        display: inline-block;
    
        color: $muted;
    
        @include modifier(right) {
            float: right;

            @include tinyScreen() {
                float: left;
            }
        }

        @include modifier(spaced) {
            margin-left: $medium-size;
        }
    }
}