.site-map {
    border-top: 1px solid $grey;
    padding-top: $xlarge-size;

    padding-left: $large-size;
    padding-right: $large-size;

    color: $dark;

    @include element(grid) {
        display: grid;
        grid-template-columns: repeat(4, 23% [col-start]);
        column-gap: 2.66%;
        row-gap: $large-size;

        @include smallScreen() {
            column-gap: 10%;
            grid-template-columns: 45% [col-start] 45% [col-start];
        }

        @include tinyScreen() {
            column-gap: 10%;
            grid-template-columns: 90% [col-start];
        }

        a {
            color: darkgray;
            text-decoration: none;
        }
    }

    div {
        margin-top: $normal-size;
        color: $muted;
    }
}