$tiny-size: 5px;
$small-size: 10px;
$normal-size: 15px;
$medium-size: 22px;
$large-size: 42px;
$xlarge-size: 100px;

// For normal rendering
$max-width: 1300px;
$min-width: 630px;

$dark: #111827;
$muted: grey;
$grey: lightgrey;
$lightgrey: lighten($grey, 5%);
$lightergrey: lighten($grey, 15%);
$light: whitesmoke;
$brand: #5045e4;